#app{
	overflow: hidden;
}
.ab-hd{
	position: relative;
	min-height: 371px;
	max-height: 594px;
	background: url('../img/about-banner.jpg') no-repeat top center;
	background-size: cover
}

.ab-nav{
	width: 1200px;
	height:88px;
	margin:0 auto;
}
.ab-logo{
	float: left;
	margin-top:17px;
}
.ab-navbar{
	position: relative;
	float: left;
	margin-left: 312px;
}
.ab-nb--cur{
	position: absolute;
	height:6px;
	top:0;
	border-radius: 1px;
	background-color: #fff;
}
.ab-nb__em{
	float: left;
	position: relative;
	height:88px;
	line-height: 88px;
	padding:0 36px;
	font-size:16px;
}
.ab-nb__em:hover .ab-nb__em a {
	cursor: pointer;
}
.ab-nb__em a{
	color:#fff;
}
.ab-nb__em:not(:last-child):after{
	content:'';
	position: absolute;
	top: 50%;
	right:0px;
	height: 12px;
	width:1px;
	background: #fff;
	transform: translateY(-6px);
}
.ad-hd-text{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin: auto;
	width: 1000px;
	height: 140px;
	text-align: center;
	color:#fff
}
@keyframes adhdtexta{
	0%{
		opacity: 0;
		transform: scale(0);
	}
	100%{
		transform: scale(1);
		opacity: 1
	}
}
.ad-hd-text_a{
	font-size: 63px;
	transform: scale(0);
	text-shadow: 3px 3px  3px #000;
	animation: adhdtexta 1s .5s 1  forwards;
}
@keyframes adhdtextb{
	0%{
		opacity: 0;
		
	}
	100%{
		opacity: 1
	}
}
.ad-hd-text_b{
	font-size:37px;
	opacity: 0;
	animation: adhdtextb 0.5s 1.2s 1  forwards;
}

.ab-bd{
	background-color: #f5f5f5;
}
.ab-basic{
	width:1200px;
	margin:0 auto;
}
.ab-bs-l{
	width: 756px;
	float:left;
}
.ab-bs-intro{
	height: 290px;
	background-color: #fff;
	opacity: 0;
	transform: translate3d(-1108px,0,0)
}
.ab-bs-intro.active,.ab-bs-r.active,.ab-bs-bus.active{
	transition: all 0.5s 0.8s;
	opacity: 1;
	transform: translate3d(0,0,0)
}
.ab-bs-r{
	float: right;
	opacity: 0;
	transform: translate3d(812px,0,0)
}
.ab-bs-intro{
	padding:39px 30px;
}
.text-indent{
	text-indent: 2em;
}
.ab-bs-intro-bd{
	margin-top: 22px;
}
.ab-bs-intro__text{
	line-height: 30px;
}
.ab-bs-bus{
	height: 273px;
	padding:30px 30px;
	background-color: #fafafa;
	opacity: 0;
	transform: translate3d(-1108px,0,0)
}
.ab-bs-bus-bd{
	margin-top:19px;
}
.ab-bs-bus__item{
	float: left;
	width: 33.3333%;
}
.ab-bs-bus__icon_text{
	margin-top:10px;
	margin-bottom:13px;
	font-size:16px;
	color:#222;
}
.ab-avg{
	height: 439px;
	background: url('../img/about-avg.jpg') no-repeat;
	overflow: hidden;
}
.ab-avg-wp{
	width:1200px;
	margin: 104px auto 0;
}
.ab-avg-cont{
	padding-left:390px;
	height: 220px;
	opacity: 0;
	transform: translate3d(0,300px,0);
	background: url('../img/about-avg-lg.png') no-repeat left center;
}
.ab-avg-cont.active{
	transition: all 1s 0.8s;
	opacity: 1;
	transform: translate3d(0,0,0)
}
.ab-avg-bd{
	margin-top:60px;
}
.ab-avg__text{
	line-height: 30px;
	color:#fff;
}
.ab-pf{
	width:1200px;
	height: 290px;
	margin: 0 auto;
	background-color: #fff;
}
.ab-pf-intro{
	width: 787px;
	padding:39px 30px;
	float:left;
	opacity: 0;
	transform: translate3d(-1138px,0,0)
}
.ab-pf-intro.active,.ab-pf__lg.active{
	transition: all 1s 1s;
	opacity: 1;
	transform: translate3d(0,0,0);
}
.ab-bs-pf-bd{
	margin-top: 22px;
}
.ab-pf__lg{
	opacity: 0;
	transform: translate3d(1138px,0,0);
	float: right;
}
.ab-bs-pf__text{
	line-height: 30px
}
.ab-news{
	width: 1200px;
	margin:0 auto;
	padding:39px 30px;
	background-color: #fff;
}
.ab-news-wp{
	overflow: hidden;
	margin-top:22px;
}
.ab-news-item{
	width: 50%;
	float: left;
	margin-bottom:27px;
	padding-right:10px;
}
.ab-news__img{
	float: left;
}
.ab-news__content{
	margin-left: 130px;
}
.ab-news__name{
	margin-bottom:5px;
	font-size: 18px;
	color:#000;
}
.ab-news__detail{
	color:#128bed
}