#app {
	position: relative;
	height: 100%;
}

.logo {
	position: absolute;
	z-index: 2;
	left: 14.427%;
	width: 10.677%;
	margin-top: 20px;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.swiper-pagination-bullet{
	width: 10px;
	height: 10px;
}
.swiper-pagination-bullet-active{
	background-color: rgba(0,0,0,.5);
}
.screen0 {
	align-items: flex-start;
	flex-direction: column;
	text-align: left;
}
.screen0 .login-form-wrap{
	right:-1000px;
	transition: right 1s;
}
.screen1 {
	background: url(../img/screen1_bg.jpg) no-repeat center;
	background-size: cover;
	flex-direction: column;
}

.screen1 .img1 {
	margin-top: 10px;
	width: 31.2%;
	transform: translateX(-1000px);
	transition: transform 1s;
}

.screen1 .img2 {
	margin: 6vh 0;
	width: 30.4%;
	transform: translateY(-1000px);
	transition: transform 1s;
}

.screen1 .img3 {
	width: 40%;
	transform: translateX(1000px);
	transition: transform 1s;
}
.screen0.swiper-slide-active .login-form-wrap{
	right:20%;
}
.screen1.swiper-slide-active .img1, .screen1.swiper-slide-active .img3, .screen2.swiper-slide-active .img1, .screen2.swiper-slide-active .img2, .screen3.swiper-slide-active .img1, .screen3.swiper-slide-active .img2, .screen4.swiper-slide-active .img1, .screen4.swiper-slide-active .img2, .screen5.swiper-slide-active .img1, .screen5.swiper-slide-active .img2, .screen6.swiper-slide-active .img1, .screen6.swiper-slide-active .img2 {
	transform: translateX(0);
}

.screen1.swiper-slide-active .img2 {
	transform: translatey(0);
}

.screen2 {
	background: url(../img/screen2_bg.jpg) no-repeat center;
	background-size: cover;
	flex-direction: column;
	align-items: flex-start;
}

.screen2 .img1 {
	margin-left: 20%;
	width: 25%;
	transform: translateX(-1000px);
	transition: transform 1s;
}

.screen2 .img2 {
	width: 50%;
	margin: 0 auto;
	transform: translateX(1000px);
	transition: transform 1s;
}

.screen3 {
	position: relative;
	background: url(../img/screen3_bg.jpg) no-repeat center;
	background-size: cover;
	flex-direction: column;
}

.screen3 .img1 {
	position: absolute;
	top: 10%;
	right: 20%;
	width: 20%;
	transform: translateX(1000px);
	transition: transform 1s;
}

.screen3 .img2 {
	width: 50%;
	transform: translateX(-1000px);
	transition: transform 1s;
}

.screen4 {
	position: relative;
	background: url(../img/screen4_bg.jpg) no-repeat center;
	background-size: cover;
	flex-direction: column;
}

.screen4 .img1 {
	position: absolute;
	top: 15%;
	left: 20%;
	width: 20%;
	transform: translateX(-1000px);
	transition: transform 1s;
}

.screen4 .img2 {
	margin-top: 5%;
	width: 45%;
	transform: translateX(1000px);
	transition: transform 1s;
}

.screen5 {
	position: relative;
	background: url(../img/screen5_bg.jpg) no-repeat center;
	background-size: cover;
	flex-direction: column;
}

.screen5 .img1 {
	position: absolute;
	top: 10%;
	right: 20%;
	width: 22%;
	transform: translateX(1000px);
	transition: transform 1s;
}

.screen5 .img2 {
	width: 45%;
	transform: translateX(-1000px);
	transition: transform 1s;
}

.screen6 {
	position: relative;
	background: url(../img/screen6_bg.jpg) no-repeat center;
	background-size: cover;
	flex-direction: column;
}

.screen6 .img1 {
	position: absolute;
	top: 15%;
	left: 20%;
	width: 20%;
	transform: translateX(-1000px);
	transition: transform 1s;
}

.screen6 .img2 {
	width: 50%;
	margin-top: 100px;
	transform: translateX(1000px);
	transition: transform 1s;
}

.mousetip {
	position: fixed;
	display: flex;
	justify-content: center;
	z-index: 2;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	width: 32px;
	height: 40px;
	border-radius: 10px 10px 20px 20px;
	border: 2px solid #fff;
}

.mousetip .point {
	display: block;
	width: 4px;
	height: 10px;
	background: #fff;
	border-radius: 1px;
	animation: move 1.5s ease-in-out infinite alternate;
}

.tiptext {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	bottom: 4px;
	color: #fff;
}

@keyframes move {
	0% {
		transform: translateY(8px);
	}
	100% {
		transform: translateY(18px);
		animation-timing-function: ease-in;
	}
}