<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="../favicon.ico">
	<title>联系我们 - 资质云库</title>
	<link rel="stylesheet" href="../../style/base.css">
	<link rel="stylesheet" href="../../style/about.css">
</head>

<body>
	<div id="app">
		<div class="about">
			<div class="ab-hd">
				<div class="ab-nav">
					<img class="ab-logo" src="../../img/logo2.png" alt="logo">
					<div class="ab-navbar">
						<span class="ab-nb--cur j-ab-nb--cur clearfix" style="left:308px"></span>
						<div class="ab-nb__em j-ab-nb__em">
							<a href="http://">关于我们</a>
						</div>
						<div class="ab-nb__em j-ab-nb__em">
							<a href="http://">商务合作</a>
						</div>
						<div class="ab-nb__em j-ab-nb__em ab-nb__em--active">
							<a href="http://">联系我们</a>
						</div>
					</div>
					<button id="adGuideBtn" class="ad-guide__btn" type="button">网站导航</button>
					<ul id="adGuideDownmenu" class="ad-guide-downmenu" style="display: none">
						<li>
							<a href="">网站首页</a>
						</li>
						<li>
							<a href="">资质出售</a>
						</li>
						<li>
							<a href="">资质求购</a>
						</li>
						<li>
							<a href="">资质导航</a>
						</li>
						<li>
							<a href="">资质云平台</a>
						</li>
						<li>
							<a href="">关于我们</a>
						</li>
					</ul>
				</div>
				<div class="ad-hd-text">
					<div class="ad-hd-text_a">资质云库&nbsp;&nbsp;&nbsp;&nbsp;用心服务</div>
					<img class="ad-hd-text_b" src="../../img/about-hd-textimg.png" alt="" srcset="">
				</div>
			</div>
			<div class="ab-bd">
				<div class="ab-contact">
					<img src="../../img/about-contact.png">
					<div class="ab-con-addr">
						<div class="ab-cont-addr__name">安徽xxxx有限公司</div>
						<div class="clearfix">
							<div class="ab-cont-addr-line"></div>
							<div class="ab-cont-addr-info">
								<div>地址：合肥市 蜀山区 尚泽大都会</div>
								<div>电话：000-00000000</div>
								<div>网址：http://www.zizhiyunku.com</div>
								<div>邮编：230000</div>
							</div>
						</div>
					</div>
					<div class="ab-cont-map" id="allmap"></div>
				</div>
			</div>
		</div>
		<div class="site-footer">
			<div class="site-copy-wrap">
				<div>免责声明</div>
				<div>Copyright 2018-2026 资质云库 皖ICP备14055920号</div>
				<div>本站是一个信息交互平台,用户所发布信息与本站无关!请勿发布违法信息！</div>
			</div>
		</div>
	</div>
	<script src="../../js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=pC6kSG3HIwjaTTliC3hb55P5"></script>
	<!-- <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=R85IjSsGnYI4nvaLb83taqd9hgx2spBv"></script> -->
	<script src="../../js/utils.js"></script>
	<script>
		$(function () {
			var index = {
				initPage: function () {
					this.bandEvent();
					renderMap();
				},
				//绑定事件
				bandEvent: function () {
					$("#adGuideBtn").on('mouseenter',function(){
						$("#adGuideDownmenu").slideDown();
					})
					.on('mouseleave',function(e){
						$("#adGuideDownmenu").slideUp('fast');
					});
					$("#adGuideDownmenu").on('mouseenter',function(){
						$(this).stop().show();
					}).on('mouseleave',function(e){
						$(this).hide();
					})
					navHover();
				}
			}
			function navHover() {
				var line_reset = $(".ab-nb__em--active");
				$(".j-ab-nb--cur").css('width', line_reset.width())
				$(".j-ab-nb__em").mouseenter(function () {
					$(".j-ab-nb--cur").stop();
					$(".j-ab-nb--cur").animate({ left: $(this).position().left + 36 + 'px', width: $(this).width() + 'px' }, 350);
				});
				$(".j-ab-nb__em").mouseleave(function () {
					$(".j-ab-nb--cur").stop();
					$(".j-ab-nb--cur").animate({ left: line_reset.position().left + 36 + 'px', width: line_reset.width() + 'px' }, 250);
				});
			}
			function renderMap() {
				// 百度地图API功能
				var map = new BMap.Map("allmap");    // 创建Map实例
				map.centerAndZoom(new BMap.Point(117.235565, 31.778367), 15);  // 初始化地图,设置中心点坐标和地图级别
				//添加地图类型控件
				map.addControl(new BMap.MapTypeControl({
					mapTypes: [
						BMAP_NORMAL_MAP,
						BMAP_HYBRID_MAP
					]
				}));
				map.setCurrentCity("合肥");          // 设置地图显示的城市 此项是必须设置的
				var marker = new BMap.Marker(new BMap.Point(117.235565, 31.778367), { icon: new BMap.Icon('../../img/dingwei.png', new BMap.Size(39, 49)) })
				map.addOverlay(marker);
				marker.setAnimation(BMAP_ANIMATION_BOUNCE);
			}
			index.initPage()
		})
	</script>
</body>

</html>