<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="../favicon.ico">
	<title>关于我们 - 资质云库</title>
	<!-- <link rel="stylesheet" href="../js/libs/bootstrap4/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="../../style/base.css">
	<link rel="stylesheet" href="../../style/about.css">
</head>

<body>
	<div id="app">
		<div class="about">
			<div class="ab-hd">
				<div class="ab-nav">
					<img class="ab-logo" src="../../img/logo2.png" alt="logo">
					<div class="ab-navbar">
						<span class="ab-nb--cur j-ab-nb--cur clearfix" style="left:36px"></span>
						<div class="ab-nb__em j-ab-nb__em ab-nb__em--active">
							<a href="http://">关于我们</a>
						</div>
						<div class="ab-nb__em j-ab-nb__em">
							<a href="http://">商务合作</a>
						</div>
						<div class="ab-nb__em j-ab-nb__em">
							<a href="http://">联系我们</a>
						</div>
					</div>
					<button class="ad-guide__btn" type="button">网站导航</button>
				</div>
				<div class="ad-hd-text">
					<div class="ad-hd-text_a">资质云库&nbsp;&nbsp;&nbsp;&nbsp;用心服务</div>
					<img class="ad-hd-text_b" src="../../img/about-hd-textimg.png" alt="" srcset="">
				</div>
			</div>
			<div class="ab-bd">
				<div class="ab-basic clearfix">
					<div class="ab-bs-l">
						<div class="ab-bs-intro">
							<img src="../../img/about-intro.png">
							<div class="ab-bs-intro-bd">
								<p class="text-indent ab-bs-intro__text">
									资质云库（zizhiyunku.com）是全国性建筑行业垂直领域的服务平台，隶属于资质云库（安徽）信息技术有限公司。致力于为建筑行业创业者及中小建筑企业提供高效的、低价、专业的在线服务。
								</p>
								<p class="text-indent ab-bs-intro__text">
									资质云库是全国性垂直于建筑行业服务的网络平台，主要为建筑企业提供公司转让、资质维护、建筑企业资质申办服务。利用互联网技术开创建筑行业的电商模式，开拓整合
									行业的资源，信息化对接客户需求，构建智能化在线资质报价系统，让创业及小微企业享受成本更低、效率更高、专业更强的服务。</p>
							</div>
						</div>
						<div class="ab-bs-bus">
							<img src="../../img/about-bus.png">
							<div class="ab-bs-bus-bd clearfix">
								<div class="ab-bs-bus__item">
									<img src="../../img/about-bus1.png">
									<div class="ab-bs-bus__icon_text">资质转让</div>
									<div>专属专家服务，项目实时监控。</div>
								</div>
								<div class="ab-bs-bus__item">
									<img src="../../img/about-bus2.png">
									<div class="ab-bs-bus__icon_text">资质维护</div>
									<div>专业资质运平台，服务建筑企业。</div>

								</div>
								<div class="ab-bs-bus__item">
									<img src="../../img/about-bus3.png">
									<div class="ab-bs-bus__icon_text">资质办理</div>
									<div>咨询顾问服务，代理办理资质。</div>
								</div>
							</div>
						</div>
					</div>
					<div class="ab-bs-r">
						<img src="../../img/ab_us.jpg" alt="关于我们图片">
					</div>
				</div>
				<div class="ab-avg">
					<div class="ab-avg-wp">
						<div class="ab-avg-cont">
							<img src="../../img/about-avg.png">
							<div class="ab-avg-bd">
								<p class="text-indent ab-avg__text">
									资质云库与各市区建委等政府相关部门有着良好的合作关系，同时也积累了丰厚的建筑企业资源以及建筑人才数据，成立至今，为来自800多家建筑企业以及2000多名建筑业注册类高级人才提供了专业的服务，赢得了一系列行业客户的高度认可和好评！并与其中近150家建筑企业签订了长期的战略合作协议。
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="ab-pf clearfix">
					<div class="ab-pf-intro">
						<img src="../../img/about-pf.png">
						<div class="ab-bs-pf-bd">
							<p class="text-indent ab-bs-pf__text">
								资质云库通过运用数据化管理的方式，建立了标准化的企业服务和人才服务流程，在每一个服务环节上都设立了严格的管理标准，同时，把与政府部门以及企业职能部门之间的对接程序模块化，从而保证在企业服务、人才匹配、政府对接的过程中，做了到需求分析准确、报价细致真实、操作专业规范、服务快速高效。
							</p>
						</div>
					</div>
					<img class="ab-pf__lg" src="../../img/about-pf-lg.jpg">
				</div>
				<div class="ab-news">
					<button class="ab-news__morebtn">更多 +</button>
					<img src="../../img/about-news.png">
					<div class="ab-news-wp">
						<div class="ab-news-item clearfix">
							<img class="ab-news__img" src="../../img/about-news-avatar.jpg">
							<div class="ab-news__content">
								<div class="ab-news__name">资质云库全新改版</div>
								<div><span class="ab-news__title">资质云库通过运用数据化管理的方式，建立了标准化的企业服务和人才服务流程，在每一个服…</span><span
										class="ab-news__detail">[详情]</span></div>
							</div>
						</div>
						<div class="ab-news-item clearfix">
							<img class="ab-news__img" src="../../img/about-news-avatar.jpg">
							<div class="ab-news__content">
								<div class="ab-news__name">资质云库全新改版</div>
								<div><span class="ab-news__title">资质云库通过运用数据化管理的方式，建立了标准化的企业服务和人才服务流程，在每一个服…</span><span
										class="ab-news__detail">[详情]</span></div>
							</div>
						</div>
						<div class="ab-news-item clearfix">
							<img class="ab-news__img" src="../../img/about-news-avatar.jpg">
							<div class="ab-news__content">
								<div class="ab-news__name">资质云库全新改版</div>
								<div><span class="ab-news__title">资质云库通过运用数据化管理的方式，建立了标准化的企业服务和人才服务流程，在每一个服…</span><span
										class="ab-news__detail">[详情]</span></div>
							</div>
						</div>
						<div class="ab-news-item clearfix">
							<img class="ab-news__img" src="../../img/about-news-avatar.jpg">
							<div class="ab-news__content">
								<div class="ab-news__name">资质云库全新改版</div>
								<div><span class="ab-news__title">资质云库通过运用数据化管理的方式，建立了标准化的企业服务和人才服务流程，在每一个服…</span><span
										class="ab-news__detail">[详情]</span></div>
							</div>
						</div>
						<div class="ab-news-item clearfix">
							<img class="ab-news__img" src="../../img/about-news-avatar.jpg">
							<div class="ab-news__content">
								<div class="ab-news__name">资质云库全新改版</div>
								<div><span class="ab-news__title">资质云库通过运用数据化管理的方式，建立了标准化的企业服务和人才服务流程，在每一个服…</span><span
										class="ab-news__detail">[详情]</span></div>
							</div>
						</div>
						<div class="ab-news-item clearfix">
							<img class="ab-news__img" src="../../img/about-news-avatar.jpg">
							<div class="ab-news__content">
								<div class="ab-news__name">资质云库全新改版</div>
								<div><span class="ab-news__title">资质云库通过运用数据化管理的方式，建立了标准化的企业服务和人才服务流程，在每一个服…</span><span
										class="ab-news__detail">[详情]</span></div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="site-footer">
			<div class="site-copy-wrap">
				<div>免责声明</div>
				<div>Copyright 2018-2026 资质云库 皖ICP备14055920号</div>
				<div>本站是一个信息交互平台,用户所发布信息与本站无关!请勿发布违法信息！</div>
			</div>
		</div>
	</div>
	<script src="../../js/libs/jquery-1.11.3.min.js"></script>
	<script src="../../js/utils.js"></script>
	<script>
		$(function () {
			var index = {
				initPage: function () {
					
					this.bandEvent();
				},
				//绑定事件
				bandEvent: function () {
					navHover();
					window.onload = function () {
						document.body.scrollTop = 0
						pageScroll();
					}

				}

			}
			function navHover() {
				var line_reset = $(".ab-nb__em--active");
				$(".j-ab-nb--cur").css('width', line_reset.width())
				$(".j-ab-nb__em").mouseenter(function () {
					$(".j-ab-nb--cur").stop();
					$(".j-ab-nb--cur").animate({ left: $(this).position().left + 36 + 'px', width: $(this).width() + 'px' }, 350);
				});
				$(".j-ab-nb__em").mouseleave(function () {
					$(".j-ab-nb--cur").stop();
					$(".j-ab-nb--cur").animate({ left: line_reset.position().left + 36 + 'px', width: line_reset.width() + 'px' }, 250);
				});
			}
			function pageScroll() {
				PageContentHeight = document.getElementById('app').clientHeight;
				htmlHeight = document.body.clientHeight;
				finalPx1 = PageContentHeight - htmlHeight - 1350;
				finalPx2 = PageContentHeight - htmlHeight - 800;
				$(".ab-bs-intro").addClass('active')
				$(".ab-bs-r").addClass('active')
				$(".ab-bs-bus").addClass('active')
				utils.handleScrollHeader(pageScrollHander);
				
			}
			function pageScrollHander(resp) {
				if (resp.currentTop > finalPx1) {
					$(".ab-avg-cont").addClass('active')
				}
				if (resp.currentTop > finalPx2) {
					$(".ab-pf-intro,.ab-pf__lg").addClass('active');
				}
			}
			index.initPage()
		})
	</script>
</body>

</html>