<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="favicon.ico">
	<title>技术负责人详情 - 资质云库 - 全国首家资质运营服务平台</title>
	<link rel="stylesheet" href="../js/libs/bootstrap4/css/bootstrap.min.css">
	<link rel="stylesheet" href="../style/base.css">
	<link rel="stylesheet" href="../style/market.css">
</head>

<body>
	<div id="app">
		<div class="site-baseview" ref="siteBase">
			<!-- 站点顶部 -->
			<div class="site-top">
				<div class="site-top-nav">
					<div class="site-top-left">
						<img class="gg-icon" src="../img/gg.png">热门资讯：资质云库V1.0版本正式上线，资质运营，从未如此性感！
					</div>
					<div class="site-top-right">
						<div class="site-entry">
							<a href="javascript:;" id="login">登录</a>
							<a href="javascript:;" id="register">注册</a>
						</div>
					</div>
				</div>
			</div>
			<!-- /站点顶部 -->
			<!-- 顶部导航 -->
			<div class="c-navbar">
				<div class="c-navbar-content">
					<div class="site-logo">
						<img src="../img/logo.jpg" alt="logo">
					</div>
					<div class="site-wish">全国首家资质运营服务平台</div>
					<ul class="site-nav">
						<li class="site-nav__li">
							<a href="home.html">首页</a>
						</li>
						<li class="site-nav__li site-nav__li--active">
							<a href="zzcs.html">交易市场</a>
						</li>
						<li class="site-nav__li">
							<a href="javascript:;">资质运营服务</a>
						</li>
						<li class="site-nav__li">
							<a href="javascript:;">建筑资质云平台</a>
						</li>
						<li class="site-nav__li">
							<a href="javascript:;">资质计算器</a>
						</li>
						<li class="site-nav__li">
							<a href="javascript:;">资质导航</a>
						</li>
						<li class="site-nav__li">
							<a href="javascript:;">关于我们</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- /顶部导航 -->
			<div class="main-page mkd">
				<div class="breadcrumb-wrap">
					<span class="breadcrumb_head">当前位置：</span>
					<div class="breadcrumb_content">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">市场交易</li>
							<li class="breadcrumb-item">资质出售</li>
							<li class="breadcrumb-item active">技术负责人详情</li>
						</ol>
					</div>
				</div>

				<div class="main-head mkd-hd clearfix">
					<div class="mkd-hd-l fl">
						<img class="mkd-hd-l-flag__icon" src="../img/chu.png">
						<div class="mkd-hd-l__name">装饰技术负责人</div>
						<div class="mkd-hd-l-p2t clearfix">
							<div class="mkd-hd-l-p2t__price fl">薪资报价：<span
									class="mkd-hd-l-p2t__price--color">800/日</span>
							</div>
							<div class="mkd-hd-l-p2t__time fr">发布时间：<span>2019-03-11</span></div>
						</div>
						<table class="mkd-hd-l-tb c-table c-table-bordered">
							<colgroup>
								<col style="background-color:#ebf7ff">
								<col>
								<col style="background-color:#ebf7ff">
								<col>
							</colgroup>
							<tr>
								<td width="120">详细</td>
								<td colspan="3">专业装饰技术负责人</td>
							</tr>
							<tr>
								<td width="120">类型</td>
								<td>装饰技术</td>
								<td width="120">职称要求</td>
								<td>工程监理</td>
							</tr>
							<tr>
								<td>业绩要求</td>
								<td>出售</td>
								<td>地点</td>
								<td>合肥市</td>
							</tr>
						</table>
						<div class="mkd-hd-l-ft">
							<img src="../img/mkd-hd-img1.png">
							<img src="../img/mkd-hd-img2.png">
							<img src="../img/mkd-hd-img3.png">
							<img src="../img/mkd-hd-img4.png">
						</div>
					</div>
					<div class="mkd-hd-r fr">
						<div class="mkd-hd-r_hd">专属客服顾问</div>
						<div class="mkd-hd-r-bd">
							<img class="mkd-hd-r-bd__avatar" src="../img/mkd-avatar.jpg">
							<div class="mkd-hd-r-bd__job">资质云库顾问-张三</div>
							<div class="mkd-hd-r-bd__fw">7*24电话咨询：18900514141</div>
							<div class="mkd-hd-r-bd-action">
								<button class="mkd-hd-r-bd-action__btn">立即沟通</button>
								<button class="mkd-hd-r-bd-action__btn">我要收藏</button>
							</div>
						</div>
					</div>
				</div>
				<div class="main-body mkd-bd">
					<div class="mkd-bd-card">
						<div class="mkd-bd-card-hd">详细信息</div>
						<div class="mkd-bd-card-bd">
							<table class="mkd-bd-card-bd-tb c-table c-table-bordered">
								<colgroup>
									<col style="background-color:#ebf7ff">
									<col>
									<col style="background-color:#ebf7ff">
									<col>
								</colgroup>
								<tr>
									<td width="120">发布时间</td>
									<td width="350">2009-07-20</td>
									<td width="120">公司单位</td>
									<td width="420">淮矿置业</td>
								</tr>
								<tr>
									<td>薪资报价</td>
									<td>面议</td>
									<td>联系电话</td>
									<td>18876523222</td>
								</tr>
								<tr>
									<td>联系QQ</td>
									<td>31331717233</td>
									<td>详情</td>
									<td>经验丰富、善于沟通、认真负责</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="mkd-bd-card">
						<div class="mkd-bd-card-hd">联系通道</div>
						<div class="mkd-bd-card-bd mkd-lx-wp">
							<div class="mkd-lxr">负责人
								<img class="mkd-lxr-tip" src="../img/mkd-lxr.png">
							</div>
							<div class="mkd-lxr-num clearfix">
								<div class="mkd-lxr-num__phone">
									<img src="../img/mkd-phone.jpg" alt="" srcset="">
									189 0051 4141
								</div>
								<div class="mkd-lxr-num__qq">
									<img src="../img/mkd-qq.png" alt="" srcset="">
									1684003520
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="main-foot"></div>
			</div>
			<div class="footer-line">
				<!-- <div class="ad-banner" id="adBanner" style="position: fixed;display: none;">
					<div class="ad-banner-inner">
						<img class="ad-img" src="../img/ad-img.png" alt="推广图">
						<img class="ad-img1" src="../img/ad-img1.png" alt="广告语图">
						<img class="ad-img2" src="../img/ad-zx-btn.png" alt="立即咨询按钮">
						<img id="closeAdbanner" class="ad-img3" src="../img/ad-close.png" alt="关闭按钮">
					</div>
				</div> -->
			</div>
			<div class="site-footer">
				<div class="site-footer-wrap">
					<div class="site-footer-info">
						<div class="site-footer-l-info">
							<div class="site-footer-l-kf">
								<div class="tel">
									客服支持
									<p>000-00000000</p>
								</div>
								<div class="qq">
									在线咨询
									<p>09:00—17:50</p>
								</div>
							</div>
							<div class="site-footer-l-qrcode">
								<img src="../img/qrcode.png">
								<p>微信公众号</p>
							</div>
						</div>
						<div class="site-footer-r-info">
							<dl>
								<dt>资质服务运营</dt>
								<dd>
									<a href="javascript:;">资质办理</a>
								</dd>
								<dd>
									<a href="javascript:;">人才服务</a>
								</dd>
								<dd>
									<a href="javascript:;">资质转让</a>
								</dd>
							</dl>
							<dl>
								<dt>平台简介</dt>
								<dd>
									<a href="javascript:;">商务合作</a>
								</dd>
								<dd>
									<a href="javascript:;">联系方式</a>
								</dd>
								<dd>
									<a href="javascript:;">关于我们</a>
								</dd>
							</dl>
							<dl>
								<dt>友情链接</dt>
								<dd>
									<a href="javascript:;">安徽省住房和城乡建设厅</a>
								</dd>
								<dd>
									<a href="javascript:;">安徽省建筑市场监管和公共服务平台</a>
								</dd>
								<dd>
									<a href="javascript:;">全国建筑市场监管和公共服务平台</a>
								</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="site-copy-wrap">
					<div>免责声明</div>
					<div>Copyright 2018-2026 资质云库 皖ICP备14055920号</div>
					<div>本站是一个信息交互平台,用户所发布信息与本站无关!请勿发布违法信息！</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../js/libs/jquery-1.11.3.min.js"></script>
	<script src="../js/libs/arttemplate/template-web.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/utils.js"></script>
	<script>
		$(function () {
			var index = {
				initPage: function () {

				},

				bandEvent: function () {

				}

			}
			index.initPage()
		})
	</script>
</body>

</html>