<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="../style/base.css">
	<link rel="stylesheet" href="../style/register.css">
	<link rel="stylesheet" href="../js/libs/bootstrap4/css/bootstrap.min.css">
</head>

<body>
	<div class="login">
		<img class="login-logo" src="../img/logo.png" alt="logo">
		

	</div>
</body>

</html>